<html>
    <head>
      <title>Balheads</title>
    </head>
    <body>
        <div>Balhead NBA Wagering
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
<!--        return flashed messages, once called, removed-->
        {% with messages = get_flashed_messages() %}
<!--        if messages have content-->
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>